<p id="notice"><%= notice %></p>

<p class="centered">
  <strong>Title:</strong>
  <%= @tip.title %>
</p>

<p class="centered">
  <strong>Image:</strong>
  <%= @tip.image %>
</p>

<p class="centered">
  <strong>Headline:</strong>
  <%= @tip.headline %>
</p>

<div class="centered">
<p>
  <strong>Steps:</strong>
</p>
<ul>
  <% @tip.steps.each do |step| %>
  <li>
  <h3><%= step.heading %> </h3>
  <span><%= step.image %> </span><br>
  <span><%= step.content %> </span><br>
  <span><%= step.displayIndex %> </span><br>
  </li>
  <% end %>
</ul>
</div>

<%= link_to 'Edit Tip', edit_tip_path(@tip) %> |
<%= link_to 'View / Edit Steps', steps_path %> | 
<%= link_to 'All Tips', tips_path %>
